/* App styles */

html,
body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

.quote-form {
	background-color: #eaeaea;
	padding: 20px;
	display: inline-block;
	border: 1px solid #ddd;
	border-radius: 3px;
	width: 350px;
}

.quote-form > h1 {
	color: #333;
	font-weight: 400;
	margin: 0 0 20px;
	font-size: 1.4em;
	padding-bottom: 5px;
	display: inline-block;
	border-bottom: 1px solid #333;
}

.quote-form > input,
.quote-form > textarea,
.quote-form > button {
	display: block;
	width: 100%;
	padding: 10px;
	border-radius: 3px;
	font-size: .85em;
}

.quote-form > input,
.quote-form > textarea {
	border: 1px solid #bababa;
	box-sizing: border-box;
	margin-bottom: 20px;
	resize: none;
}

.editor {
	margin: 10px 0 0;
	border: 1px solid #bababa;
	resize: none;
	box-sizing: border-box;
	padding: 10px;
	border-radius: 3px;
	font-size: .85em;
	width: 100%;
}

.quote-form > button {
	background-color: #50a4e2;
	color: #fff;
	border: none;
	cursor: pointer;
}

.update-btns > button {
	background-color: #50a4e2;
	color: #fff;
	border: none;
	cursor: pointer;
	padding: 10px;
	border-radius: 3px;
	font-size: .85em;
	margin-right: 5px;
}

.row:after,
.row:before {
	content: "";
	clear: both;
	display: table;
}

.row {
	margin: 15px;
}

*[class*='col-span'] {
	float: left;
	padding: 0 15px;
}

.col-span-4 {
	width: 33.3333%;
	
}

.col-span-8 {
	width: 60%;
}

.quotes-list {
	padding: 0;
	margin: 0;
	list-style: none;
}

.quote {
	background-color: #eaeaea;
	padding: 10px;
	margin-bottom: 10px;
}

.quote span.name {
	font-weight: 400;
    font-style: italic;
    font-size: 1.15em;
}

.quote p {
	margin: 10px 0;
	font-weight: 300;
	padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.click {
	display: inline-block;
	color: #00a0e3;
	font-size: .8em;
	text-decoration: underline;
	margin: 0 5px;
	cursor: pointer;
	font-weight: 300;
}

.right {
	text-align: right;
}

.hidden {
	display: none;
}



















